.modal{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items:center;
    justify-content: center;
}

.modal > div{
    width: 40%;
    background-color:#bdd0f5;
    padding: 20px;
    min-height: 200px;
    border-radius: 15px;
    text-align: center;

}