.modal-account{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 40%;
    left: 50%;
    padding: 14px 28px;
    border-radius: 3px;
    width: 40%;
    min-width: 300px;
    background-color: #BDD0F5;
    text-align: center;
    border: 3px solid #000;
}
.modal-content-account{
    display: flex;
    justify-content: center;
}
.form-password-account{
    width: 100%;
}
.form-password-account input{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    outline: 1px solid black;
    height: 2em;
}
.close-modal-password{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #000;
}
.close-modal-password:hover{
    border: 2px solid #000;
}